/* universal selector */

* { 
    /* box model */
    box-sizing: border-box; /* padding and border are included in the width and height */
    padding: 0;
    margin: 0;
}

/* element selectors */

header {
    /*/ background color */
    background-color: #26614F;

    /* box model */
    border-bottom: 9px solid #DDAF95;
    height: 50px;
    width: 100%;

    /* position */
    position: fixed;
    top: 0px;
}

ul{
    /* removes bullet points */
    list-style: none;       
}

li{
    /* display */ 
    display: inline;

    /* position */
    float: right; 
    
    /* box model */
    padding: 10px;    
}

a{
    /* text properties */
    color: white;
    text-decoration: none;
    font-family:Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

main{
    /* position */
    text-align:center;
}

h1,
h2 {
    /* text properties */
    color: #504846;
    font-family:Tahoma, sans-serif;
}

h1{
    /* box model */
    margin: 50px 0px 20px 0px;

    /* text size */
    font-size: 30px;
}

h2{
   /* box model */
    margin: 15px 0px 10px 0px;

    /* text size */
    font-size: 20px;
}

img{
    /* box model */
    margin: 0px auto;
}

main p{
    /* box model */
    margin: 15px 0px 40px 0px;

    /* text properties */
    font-family: sans-serif;
    font-size: 18px;
}

form{
    /* box model*/
    border:2px solid #DDAF95;
    border-radius: 5%;
    width: fit-content;
    padding: 5px 50px;
    margin: 0px auto;
}

label{
    /* text properties */
    font-family: sans-serif;
    font-size:15px;
    color:#504846;
}

footer{
    /* background color */
    background-color:#26614F;

    /* box model */
    border-bottom: 10px solid gray;
    height: fit-content;

    /* text properties */
    color: white;
    text-align: center;
    font-family:Geneva, Tahoma, sans-serif;
}

footer p{
    /* box model */
    padding: 15px;

    /* text property */
    font-size:15px;
}

/* class selector */

.contact{
    /* background color */
    background-color: #E8CEBF;

    /* box model*/
    border-top: 2px solid #DDAF95;
    height: 175px;

    /* position */
    text-align: center;
}

/* id selectors */

#name,
#email{

    /* dimensions */
    width: 200px;
    height: 15px;   
}

#send{

    /* dimensions */
    width: 100px;
    height: 40px;

    /* display */
    display: block;

    /* box model */
    margin: 0px auto;

    /* background and text colors */
    background-color:#504846;
    color: white;
}